.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#") Retweeter
      .container.nav-collapse
        %ul.nav
          %li= link_to "Link 1", "/path1"
          %li= link_to "Link 2", "/path2"
          %li= link_to "Link 3", "/path3"
.container
  .vertical_space_50
  %h4="The tweets retweeted of @delhianimeclub by @sudipto05"

  %ul.retweets
    - @tweets.each_with_index do |tweet, index|
      - if (index%2 == 0)
        %li.darkblue
          .white="#{tweet.tweeted_at.strftime('%I:%M %p %d %b, %y')}"
          .space
          .dark-white="RT @delhianimeclub: #{tweet.tweet_text}".html_safe unless tweet.tweet_text.blank?
      - else
        %li.black
          .dark-white="#{tweet.tweeted_at.strftime('%I:%M %p %d %b, %y')}"
          .space
          .white=" RT @delhianimeclub: #{tweet.tweet_text}".html_safe unless tweet.tweet_text.blank?
  %footer
    %p &copy; Cloud
